.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.done{
  text-decoration: line-through;
}

.task-list{
  align-content:space-around;
}

.task-list li {
  list-style-type: none;
  align-content: space-between;
}
button{
  background-color: rgb(226, 122, 4);
}
.btn-danger{
  border: black;
}